services:
  app:
    build: .
    container_name: otzaria-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      # משתנים אלו יטענו מקובץ .env שיושב באותו שרת, אך לא בגיט
      - MONGODB_URI=${MONGODB_URI}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - UPLOAD_DIR=/app/public/uploads
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
      - ./public/uploads:/app/public/uploads